<a ui-sref="newDrug" class="btn-primary btn-lg nodecoration" ng-show="isAuthenticated">Add New Drug</a>
<table class="table drugtable">
    <tr>
        <td><h3>All Drugs</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="drug in drugs">

        <td>{{drug.id}}</td>
        <td>{{drug.drugName}}</td>
        <td>{{drug.dosage}}</td>

        <td>
            <a class="btn btn-primary" ui-sref="viewDrug({id:drug.id})" >View</a>
            <a class="btn btn-success" ui-sref="editDrug({id:drug.id})" ng-show="isAuthenticated">Edit</a>
            <a class="btn btn-danger"  ng-click="deleteDrug({id:drug.id}, drug)" ng-show="isAdmin">Delete</a>
        </td>
    </tr>
</table>